<!-- +++++ Welcome Section +++++ -->
  <div id="hola">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <h1>Desarrollemos juntos tu primera aplicación web en menos de 30 días</h1>
          <p class="lead">Antes de que termine Octubre serás un desarrollador.</p>
          <!-- Button trigger modal -->
          <button class="btn btn-info btn-lg" data-toggle="modal" data-target=".bs-example-modal-md">
          Quiero Desarrollar y emprender con Gabo!
          </button>
        </div><!-- /col-lg-8 -->
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /ww -->

  <!-- +++++ Information Section +++++ -->
  <div id="info">
  <div class="container pt">
    <div class="row mt centered"> 
      <div class="col-lg-3">
        <span class="icon icon-material-access-alarms icon-material-teal"></span>
        <h3>Intensidad Horaria</h3>
        <p>Para ser un desarrollador a la par quiero que estés dedicado 100% al desarrollo. Necesitarás 40 horas/semana y ver las sesiones en vivo.</p>
      </div>
      
      <div class="col-lg-3">
        <span class="icon icon-material-people icon-material-teal"></span>
        <h3>Acompañamiento 1 a 1</h3>
        <p>Tendremos que aprovechar sesiones de soporte remoto de 30 minutos para repasar los temas y conversar sobre los avances.</p>
      </div>

      <div class="col-lg-3">
        <span class="icon icon-material-laptop icon-material-teal"></span>
        <h3>Enamórate de Mac</h3>
        <p>Deberás contar con una maquina poderosa y recomiendo que tengas una laptop MacBook, con Procesador multicore y disco de estado solido. Sino jugaremos con Docker o Nitrous</p>
      </div>

      <div class="col-lg-3">
        <span class="icon icon-material-network-wifi icon-material-teal"></span>
        <h3>Conexión rápida</h3>
        <p>Como mínimo deberás tener una conexión de 1Mbps. El óptimo son 3Mbps para acceder a los contenidos en vivo y las sesiones de soporte.</p>
      </div>
    </div><!-- /row -->
    
    <div class="row mt">
      <div class="col-lg-3 col-lg-offset-1 col-md-3 col-sm-4 hidden-xs">
        <%= image_tag("gabriel-sarmiento.png", alt: "gabriel sarmiento", id: "gabo-picture") %>
      </div>
      <div class="text-center visible-xs">
        <%= image_tag("gabriel-sarmiento.png", alt: "gabriel sarmiento", id: "gabo-picture") %>
      </div>
      <div class="col-lg-8 col-md-9 col-sm-8">
        <blockquote>
        <p class="lead">Te acompañaré con sesiones en vivo y soporte remoto y al finalizar te prometo que tendrás una caja de herramientas para que puedas desplegar con mi compañía o por tu propia cuenta, tu decides.</p>
        </blockquote>
      </div><!-- /colg-lg-12 -->
      
    </div><!-- /row -->
    <div class="row centered">
    <!-- Button trigger modal -->
      <button class="btn btn-info btn-lg btn-lg-offset-4" data-toggle="modal" data-target=".bs-example-modal-md">
      Empecemos a desarrollar!
      </button>
     </div>
    </div><!-- /container -->
  </div>

<!-- +++++ Footer Section +++++ -->
  
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Conversemos</h4>
          <p>
            + 57 317-515-3493 <br/>
            Bogota, Colombia.
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>Conóceme</h4>
          <p>
            <a href="http://github.com/gabosarmiento">GitHub</a><br/>
            <a href="http://co.linkedin.com/in/gabrielsarmiento/">LinkedIn</a><br/>
            <a href="http://twitter.com/gabosarmiento">Twitter</a><br/>
            <a href="http://facebook.com/gabrielsarmiento">Facebook</a>
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>Acerca de Gabriel Sarmiento</h4>
          <p>Ingeniero, desarrollador, emprendedor y papá de Letizia y hoy quiero enseñar.</p>
        </div><!-- /col-lg-4 -->
      
      </div>
    
    </div>
  </div>

  <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel">Quiero ser parte de la primera generación</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <%= render partial: 'interested/form', locals: { message: @message } %> 
          </div>
        </div>
       
      </div>
      
    </div>
  </div>
  </div>