<!-- +++++ Welcome Section +++++ -->
  <div id="hola">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <%= image_tag("gabriel-sarmiento.png", alt: "gabriel sarmiento", id: "gabo-picture") %>
          <h1>Hola internet, soy Gabo</h1>
          <p class="lead">Estoy buscando personas dispuestas a aprender a desarrollar antes de que termine octubre y arrancando hoy mismo.</p>
          <p class="lead">Los acompañaré diariamente con sesiones en vivo y soporte remoto en el aprendizaje de las herramientas que considero que deben tenerse para construir soluciones online.</p>
          
          <!-- Button trigger modal -->
          <button class="btn btn-info btn-lg" data-toggle="modal" data-target=".bs-example-modal-md">
          Quiero participar!
          </button>
        </div><!-- /col-lg-8 -->
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /ww -->

  <!-- +++++ Information Section +++++ -->
  <div id="info">
  <div class="container pt">
    <div class="row mt centered"> 
      <div class="col-lg-3">
        <span class="icon icon-material-access-alarms icon-material-teal"></span>
        <h3>Intensidad Horaria</h3>
        <p>Para aprender quiero que estés dedicado 100% al desarrollo. Necesitarás 40 horas/semana y ver a las sesiones en vivo.</p>
      </div>
      
      <div class="col-lg-3">
        <span class="icon icon-material-people icon-material-teal"></span>
        <h3>Acompañamiento 1 a 1</h3>
        <p>Tendrás sesiones de soporte remoto de 30 minutos para repasar los temas y un chat abierto permamente para solucionar tus dudas.</p>
      </div>

      <div class="col-lg-3">
        <span class="icon icon-material-laptop icon-material-teal"></span>
        <h3>Amante de Mac</h3>
        <p>Deberás contar con una maquina poderosa y recomiendo tener una laptop MacBook, con Procesador multicore y disco de estado solido.</p>
      </div>

      <div class="col-lg-3">
        <span class="icon icon-material-network-wifi icon-material-teal"></span>
        <h3>Conexión rápida</h3>
        <p>Como mínimo deberás tener una conexión de 1Mbps. El óptimo son 5Mbps de descarga/subida para acceder a los contenidos.</p>
      </div>
    </div><!-- /row -->
    
    <div class="row mt">
      <div class="col-lg-12">
        <h4 class="text-center">HERRAMIENTAS QUE PROPONGO</h4>
        <p>Al finalizar tendrás una caja de herramientas para crear tus propias aplicaciones web manejando Github, Sublime Text, Heroku y AWS, hablando de UI/UX y Diseño Material. Usando HTML5, CSS3, Bootstrap, Javascript y jQuery. Desarrollando en Ruby on Rails, con Restful JSON APIs y Bases de datos complejas.</p>
      </div><!-- /colg-lg-12 -->
      
    </div><!-- /row -->
    <div class="row centered">
    <!-- Button trigger modal -->
      <button class="btn btn-info btn-lg btn-lg-offset-4" data-toggle="modal" data-target=".bs-example-modal-md">
      tl;dr Quiero participar!
      </button>
     </div>
    </div><!-- /container -->
  </div>

<!-- +++++ Footer Section +++++ -->
  
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Lugar de emisión</h4>
          <p>
            Transversal 20 94-25 Torre 3 Apto 501<br/>
            + 57 1 8008502 <br/>
            Bogota, Colombia.
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>Conóceme</h4>
          <p>
            <a href="http://github.com/gabosarmiento">GitHub</a><br/>
            <a href="http://co.linkedin.com/in/gabrielsarmiento/">LinkedIn</a><br/>
            <a href="http://twitter.com/gabosarmiento">Twitter</a><br/>
            <a href="http://facebook.com/gabrielsarmiento">Facebook</a>
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>Acerca de Gabriel Sarmiento</h4>
          <p>Ingeniero, desarrollador, emprendedor y papá de Letizia y hoy quiero enseñar.</p>
        </div><!-- /col-lg-4 -->
      
      </div>
    
    </div>
  </div>

  <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel">Quiero ser parte de la primera generación</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <%= render partial: 'interested/form', locals: { message: @message } %> 
          </div>
        </div>
       
      </div>
      
    </div>
  </div>
  </div>