<!-- +++++ Welcome Section +++++ -->
  <div id="ww">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <%= image_tag("gabo.png", alt: "gabriel sarmiento", id: "gabo-picture") %>
          <h1>Hola, soy Gabo!</h1>
          <p>Hola internet. Soy Gabriel Sarmiento y estoy dispuesto a trabajar y crear soluciones a los problemas de tu vida diaria.</p>
          <p>Considera involucrarte en mi nuevo proyecto de formación para jovenes.</p>
        </div><!-- /col-lg-8 -->
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /ww -->

<!-- +++++ Footer Section +++++ -->
  
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Correspondencia</h4>
          <p>
            Transversal 20 94-25 Torre 3 Apto 501<br/>
            +57 1 8008502, <br/>
            Bogota, Colombia.
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>Contactame</h4>
          <p>
            <a href="http://co.linkedin.com/in/gabrielsarmiento/">Linkedin</a><br/>
            <a href="http://twitter.com/gabosarmiento">Twitter</a><br/>
            <a href="http://facebook.com/gabrielsarmiento">Facebook</a>
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>Acerca de Gabriel Sarmiento</h4>
          <p>Ingeniero, desarrollador, emprendedor y apasionado por la creación de empresas.</p>
        </div><!-- /col-lg-4 -->
      
      </div>
    
    </div>
  </div>