<!-- +++++ Welcome Section +++++ -->
  <div id="ww">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <%= image_tag("gabriel-sarmiento.png", alt: "gabriel sarmiento", id: "gabo-picture") %>
          <h1>Hola internet, soy Gabo!</h1>
          <p>Estoy buscando a 50 personas dispuestas a cambiar el rumbo de sus vidas en 30 días convirtiéndose en un trabajador web.</p>
          <p>Acompañaré a cada uno de ellos en el aprendizaje de una serie de herramientas para ser aptos de ofrecer estas habilidades en pro de un trabajo mejor remunerado.</p>
        </div><!-- /col-lg-8 -->
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /ww -->

<!-- +++++ Footer Section +++++ -->
  
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Centro de emisión</h4>
          <p>
            Transversal 20 94-25 Torre 3 Apto 501<br/>
            + 57 1 8008502, <br/>
            Bogota, Colombia.
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>Contactame</h4>
          <p>
            <a href="http://co.linkedin.com/in/gabrielsarmiento/">Linkedin</a><br/>
            <a href="http://twitter.com/gabosarmiento">Twitter</a><br/>
            <a href="http://facebook.com/gabrielsarmiento">Facebook</a>
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>Acerca de Gabriel Sarmiento</h4>
          <p>Ingeniero, desarrollador, emprendedor y papá de Letizia y hoy quiero enseñar.</p>
        </div><!-- /col-lg-4 -->
      
      </div>
    
    </div>
  </div>