<!-- +++++ Welcome Section +++++ -->
  <div id="ww">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <%= image_tag("gabriel-sarmiento.png", alt: "gabriel sarmiento", id: "gabo-picture") %>
          <h1>Hola internet, soy Gabo!</h1>
          <p>Estoy buscando a 50 personas dispuestas a convertirse en trabajadores web y cambiar el rumbo de sus vidas en 30 días.</p>
          <p>Como guía los acompañaré diariamente a cada uno de ustedes en sesiones en vivo y soporte remoto en el aprendizaje de las herramientas que considero que deben tenerse para ser aptos de trascender en el ecosistema laboral.</p>
        </div><!-- /col-lg-8 -->
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /ww -->

<!-- +++++ Footer Section +++++ -->
  
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Centro de emisión</h4>
          <p>
            Transversal 20 94-25 Torre 3 Apto 501<br/>
            + 57 1 8008502, <br/>
            Bogota, Colombia.
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>Contactame</h4>
          <p>
            <a href="http://co.linkedin.com/in/gabrielsarmiento/">Linkedin</a><br/>
            <a href="http://twitter.com/gabosarmiento">Twitter</a><br/>
            <a href="http://facebook.com/gabrielsarmiento">Facebook</a>
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>Acerca de Gabriel Sarmiento</h4>
          <p>Ingeniero, desarrollador, emprendedor y papá de Letizia y hoy quiero enseñar.</p>
        </div><!-- /col-lg-4 -->
      
      </div>
    
    </div>
  </div>