
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>Why do I do it?</h3>
      <p>Creating a business in France for foreigners is hard and the fact is that you can be overwhelmed by all the requirements which most of the time are not written as processes can be quite new.</p>
      <ul class="list-unstyled">
        <li class="well">I really like to guide anyone who's willing to come no matter their background is.</li>
        <li class="well">If we can give you my feedback on your business let's do it together.</li>
        <li class="well">Even though your startup idea might not be 'successful' the whole purpose is to keep trying until we make it happen and you can try here in France.</li>
        <li class="well">I'll try to share all the knowledge I've collected for the past year since I begin this expat journey.</li>
        <li class="well">I have knowledge having to survive with my whole kids and coming from Colombia and I'll try my best to prevent you from making mistakes.</li>
      </ul>
    </div><!-- /col-lg-8 -->
  </div>
</div>
