
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>Why do I do it?</h3>
      <p>I have always loved to teach and people have always told me that they liked my feedback and that's it.</p>
      <ul class="list-unstyled">
        <li class="well">I really like to teach anyone who's willing to learn no matter what their background is.</li>
        <li class="well">If we can make the world a better place let's do it together.</li>
        <li class="well">Even though our startup idea might not be 'successful' the whole purpose is to keep trying until we make it happen.</li>
        <li class="well">I'll try to share all the knowledge I've collected for the past 10 years.</li>
        <li class="well">Learning has to be a fun experience and I'll try my best to make it a fun journey.</li>
      </ul>
    </div><!-- /col-lg-8 -->
  </div>
</div>
