
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>Why do I do it?</h3>
      <p>Creating a business in France for foreigners is tough and the fact is that you can be overwhelmed by the language, all the requirements which most of the time are not written yet as this processes are quite new.</p>
      <ul class="list-unstyled">
        <li class="well">I really like to guide anyone who's willing to make it. No matter your background or country we will find a way to solve it.</li>
        <li class="well">I believe we need to learn from peers, the problem is the culture and language stops people from learning and doing it more efficiently.</li>
        <li class="well">Even though your startup idea might not be 'successful' the whole purpose is to keep trying until you make it happen, you can pivot and in fact la France has many top resources to use.</li>
        <li class="well">I'll try to share all the knowledge as a founder and as a parent as a colleague. I've collected for the past year since I begin this expat journey.</li>
        <li class="well">I just want more people to focus on the important issues of their businesses and less on burocracy. I'll try my best to prevent you from making some of the mistakes I learned from.</li>
      </ul>
    </div><!-- /col-lg-8 -->
  </div>
</div>
