
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>Por qué lo hago?</h3>
      <p>Siempre me ha gustado enseñar pero ahora...</p>
      <ul class="list-unstyled">
        <li class="well">Quiero que aprender a desarrollar esté al alcance de cualquier persona sin importar su condición. Si alguien no tiene las condiciones para acceder desarrollaré alianzas con el sector público y privado para lograrlo.</li>
        <li class="well">Quiero que si alguien está aprendiendo tenga una persona que lo acompañe 24 horas si es posible y no solo con tutoriales en video o en texto.</li>
        <li class="well">Quiero generar contenido entretenido y pensado para el que apenas está arrancando de cero.</li>
        <li class="well">Quiero que aprender sea a partir de la repetición, memorización y práctica y no solamente lograr que algo se entienda.</li>
        <li class="well">Quiero aprovechar la experiencia que tuve haciendo 3 años eventos en streaming para que se le saque provecho a las sesiones en vivo en una plataforma usable y atractiva.</li>
        <li class="well">Quiero que al terminar la persona no solo debe estar en la capacidad de hacer sus ideas realidad sino de ser más productivo y aprender permanentemente.</li>
        <li class="well">Quiero que sea un modelo que se replique por más mentores y para hacerlo debe haber alguien que se le mida a pilotearlo primero.</li>
        <li class="well">Y debo lograr que se construya una mejor sociedad con lo que se aprenda.</li>
      </ul>
      <p>Si quieres colaborar escribeme a gabrielsarmiento@gmail.com</p>
    </div><!-- /col-lg-8 -->
  </div>
</div>