
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>Why I do it?</h3>
      <p>I have always loved to teach and you can do it too.</p>
      <ul class="list-unstyled">
        <li class="well">I want to teach anyone who's willing to learn no matter their background or income.</li>
        <li class="well">I want to build tools that make a better world if we could focus on developing technology for social good much better.</li>
        <li class="well">I want to increase the representation of Latinamericans in the innovation economy.</li>
        <li class="well">Learning has to be a fun experience and creation has to be a fun journey.</li>
        <li class="well">Be humble and passionate about your ideas. Even though our startup idea might not be successful the whole purpose is to build a friendship and keep trying until we make it happen.</li>
        <li class="well">Knowledge should be open and shareable. I will share all the knowledge I've collected during my entire life.</li>
        <li class="well">Keep learning.</li>
        <li class="well">Open source this model. I want this model to be spread by other mentors and share the knowledge in a win-win scenario.</li>
        
      </ul>
      <p>If you want to help me text me via whatsapp <a href="tel:+573175153493">+57-317-515-3493</a></p>
    </div><!-- /col-lg-8 -->
  </div>
</div>