<div>
<p>Yuju tienes un nuevo interesado: <br> 
Nombre: <%= @message.name %> <br>
Email: <%= @message.email %>
</p>
</div>
<div>
<p>A la pregunta del interés respondió: <%= @message.body %></p>
<br>
<p>Y las ideas que quiere trabajar son: <%= @message.ideas %></p>
</div>