<div>
<p>Awesome someone wants to start a partnership: <br> 
Name: <%= @message.name %> <br>
Email: <%= @message.email %>
</p>
</div>
<div>
<p>About: <%= @message.body %></p>
<br>
<p>Ideas: <%= @message.ideas %></p>
</div>